/* reset */
html,body{font: 16px/1.14 '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", "sans-serif";color:#444;outline:0;font-weight:normal;}
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:0;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body{/*background:#fff;*/}

html,body{width:100%;height:100%;overflow:hidden;margin:0;}
html{_height:auto;_padding:0 0 0 0;}

.mt10{margin-top: 10px;}
.mb10{margin-bottom: 10px;}

.ban-select{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  not supported by any browser */
}
/* transition */

.fade-enter-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-active, .fade-leave-active {
  opacity: 0;
  /*display:none;*/
}

.fadeT-enter-active{
  top:-5px;
}
.fade-enter, .fade-leave-active, .fade-leave-active {
  top:0;
  opacity: 0;
  /*display:none;*/
}



/* button */
.button {
  border: 1px solid transparent;
  background-color: #f5f5f5;
  color: #444;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 12px;
  min-width: 52px;
  border-radius: 4px;
  vertical-align: top;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 42px!important;
  min-height: 42px;
  cursor: pointer;
  outline: none;
  text-decoration:none;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently not supported by any browser */

}
.button-full>button.button, button.button-block, button.button-full, input.button.button-block{
  width: 100%;
}

.button-block {
  display: inline-block;
  width: 100%;
  clear: both;
}
.button-block:after {
  clear: both;
}
.button:after {
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  content: " ";
}
.button-orange{
  background-color: #ff9600;
  border-color:#ff9600;
  color: #fff;
}

.button:disabled{
  background-color: #d8d6d6;
  color:#bfbfbf;
  
}
.button-orange:disabled{
  background-color: #d8d6d6;
  color:#bfbfbf;
  border-color: #b2b2b2;
}
.button-group{
  border-top-right-radius:0!important;
  border-bottom-right-radius:0!important;
  margin-right: 0!important;
  margin-top: 0!important;
}
.button-group:last-child{
  border-top-right-radius:4px!important;
  border-bottom-right-radius:4px!important;
}
.button-group + .button-group{
  border-top-left-radius:0;
  border-bottom-left-radius:0;
  margin-left: 0;
}
a.button:link:after {}
a.button:visited:after {}
a.button:hover:after {} 
.button:active:after,a.button:active:after {
  opacity: .1;
}

.button:after {
  background-color: #000;
  content: " ";
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}

.button.button-block~.button,.button~.button.button-block{margin-top: 5px;}

/* page */
.page-content{position:absolute;top:0;right:0;bottom:0;left:0;overflow-x:hidden;overflow-y:auto;width:auto;height:auto;-webkit-overflow-scrolling:touch}
.page-wrap,.content-wrap{padding:10px;word-break: break-all;word-wrap: break-word;}
.page-header-body .page-content,.page-header-body .scroll-inner,.tabs-container .scroll-inner,
.page-header-body .tabs,.page-header-body .tabs-container{padding-top:40px;z-index:49;}
.page-header-body .tabs-container .scroll-inner {top:41px!important;}
.page-bar{
  position: relative;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e2ddd7;
  border-top: 1px solid #e2ddd7;
  background: #f9f7f7 none repeat scroll 0 0;
  color: #7c6762;
  padding:0 10px;
  margin-top:-1px;font-weight: 500;
  overflow:hidden;text-overflow:ellipsis;
  white-space:nowrap;
}
.cd-input-wrapper + .page-bar{
  margin-top:-5px;
  border-top: 0;
}
/* scroll */
.scroll {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-transform-origin: left top;
  transform-origin: left top; 
}

/* input */
label>* {
  pointer-events: none;
}
input[type=color]
, input[type=date]
, input[type=datetime-local]
, input[type=datetime]
, input[type=email]
, input[type=month]
, input[type=number]
, input[type=password]
, input[type=search]
, input[type=tel]
, input[type=text]
, input[type=time]
, input[type=url]
, input[type=week]
, textarea{
  display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #111;
  vertical-align: middle;
  font-size: 14px;
  line-height: 16px;
  border: 0;
}
button, input, select, textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  outline-offset: 0;
  outline-style: none;
  outline-width: 0;
  -webkit-font-smoothing: inherit;
  background-image: none;
}

/* markdown */
.markdown-body pre code,.markdown-body .highlight pre, .markdown-body pre{
  background-color:#2d2d2d
}